<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Archer Connect IAM Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Archer Connect - IAM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">People, Users, Roles, Orgs<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("System User", "", "SystemUsers")</li>
                            <li>@Html.ActionLink("System People", "", "SystemPersons")</li>
                            <li>@Html.ActionLink("System Roles", "", "SystemRoles")</li>
                            <li>@Html.ActionLink("Organizations", "", "vw_OrgTypeAssignment")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User Assignment<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Users to Roles", "", "SystemUserRoles")</li>
                            <li>@Html.ActionLink("User to Person", "", "")</li>
                            <li>@Html.ActionLink("User to Org", "", "vw_OrgPerson")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Permission Assignment<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Permission to Role", "", "SystemUserRoles")</li>
                            <li>@Html.ActionLink("Permission to Org", "", "")</li>
                            <li>@Html.ActionLink("Permission to Person", "", "vw_OrgPerson")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Effective View Permissions<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Effective User Permissions", "", "vw_EffectiveUserPermission")</li>
                            <li>@Html.ActionLink("Effective Role Permissions", "", "vw_EffectiveRolePermission")</li>
                            <li>@Html.ActionLink("Effective Org Permissions", "", "vw_EffectiveOrgPermission")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Effective Data Permissions<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Effective User Permissions", "ComingSoon", "Home")</li>
                            <li>@Html.ActionLink("Effective Role Permissions", "", "vw_EffectiveRolePermission_DomainData")</li>
                            <li>@Html.ActionLink("Effective Org Permissions", "ComingSoon", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Archer Connect</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
